$myColor: #0e0e0e;
header {
  display: flex;
  margin: 15px;
  align-items: center;
  justify-content: space-between;

  .title {
    color: $myColor;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    svg {
      margin-right: 10px;
    }
  }
  .author {
    color: gray;
  }
}
hr {
  height: 3px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    228deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(49, 54, 63, 1) 35%,
    rgba(118, 171, 174, 1) 100%
  );
  padding: 20px 0;
  margin-bottom: 30px;
  a:link,
  a:visited {
    display: block;
    color: #eeeeee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 5px;
  }
}
